
/* Global CSS Rules */

html,body {
    height:100%; /* needed for container min-height */
    background:#000;
}

.fcmcclerk {
    color: #fff;
    font-weight: bold;
}

.text-subtle {
    color: #777;
}

/* Responsive CSS Rules */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.page-header h1 {
    font-size: 20px;
    line-height: 24px;
}
.page-header h1 small {
    font-size: 15px;
    line-height: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .page-header h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .page-header h1 small {
        font-size: 20px;
        line-height: 25px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .page-header h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .page-header h1 small {
        font-size: 25px;
        line-height: 30px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .page-header h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .page-header h1 small {
        font-size: 30px;
        line-height: 35px;
    }
}
